{% extends 'layout/base.html' %}

{% block title %}
    Practice 2
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
{% endblock %}

{% block header %}
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="{{ url_for('staff_login') }}">
      <img class="rounded-circle" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" style="width: 30px">
      Trang Chủ
    </a>
    {% else %}
    <a class="navbar-brand" href="/">
      <img class="rounded-circle" src="{{ url_for('static', filename='images/logo.jpg') }}" alt="" style="width: 30px">
      Trang Chủ
    </a>
    {% endif %}

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('render_add_student_page') }}">Tiếp nhận học sinh</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('render_update_student_class_page') }}">Điều chỉnh lớp học</a>
        </li>
        <li class="nav-item" style="display: flex; align-items: center; margin: 0 2px 0 10px;">
          <img class="rounded-circle" src="{{ url_for('static', filename='images/logo_user.png') }}" alt="" style="width: 26px">
          <a class="nav-link" href="#">{{current_user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Đăng xuất</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block container %}
    <h1 class="text-center heading">Trang Điều Chỉnh Lớp Học</h1>

    <form class="form-inline" action="{{ url_for('render_update_student_class_page') }}">
      <input class="form-control mr-sm-2" name="name" type="text" placeholder="Nhập tên học sinh...">
      <input class="form-control mr-sm-2" name="class_name" type="text" placeholder="Nhập tên lớp học...">

      <button class="btn btn-success" type="submit">Tìm kiếm</button>
    </form>

    <table class="table">
      <tr class="thead-dark">
        <th colspan="7" class="text-center"><h3>DANH SÁCH LỚP</h3></th>
      </tr>
      <tr class="table-info">
        <th colspan="3">Lớp: {% if class_name %} {{ class_name }} {% endif %}</th>
        <th colspan="4">Sĩ số: {% if class_name %} {{ amount[0][1] }} {% endif %}</th>
      </tr>
      <tr class="thead-dark">
        <th>STT</th>
        <th>Họ tên</th>
        <th>Lớp học</th>
        <th>Giới tính</th>
        <th>Năm sinh</th>
        <th>Địa chỉ</th>
        <th></th>
      </tr>
      {% for i in range(list|length) %}
      <tr class="row-{{ list[i][0] }} table-info">
        <td>{{ i+1 }}</td>
        <td class="student-name">{{ list[i][1] }}</td>
        <td class="class-name">{{ list[i][2] }}</td>
        <td>
          {% if list[i][3] == 1 %}
          Nam
          {% else %}
          Nữ
          {% endif %}
        </td>
        <td>{{ list[i][4].strftime('%Y') }}</td>
        <td>{{ list[i][5] }}</td>
        <td>
          <button onclick="handleUpdateClass({{ list[i][0] }})" class="btn btn-success">Chỉnh sửa</button>
        </td>
      </tr>
      {% endfor %}
    </table>

   <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Điều chỉnh lớp học</h4>
          <button type="button" class="close_modal_btn close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <table class="table">
              <tr>
                <th>Mã học sinh</th>
                <th>Tên học sinh</th>
                <th>Lớp học hiện tại</th>
                <th>Lớp học muốn thay đổi</th>
              </tr>
              <tr>
                <th><h5 id="maHocSinh"></h5></th>
                <th><h5 id="tenHocSinh"></h5></th>
                <th><h5 id="currentClass"></h5></th>
                <th>
                  <form>
                    <div class="form-group">
                      <select class="form-control" id="lopHoc">
                       {% for c in classes %}
                          <option value="{{c[1]}}">
                              {{c[0]}}
                          </option>
                      {% endfor %}
                    </select>
                    </div>
                  </form>
                </th>
              </tr>
            </table>
        </div>

         <!-- Modal footer -->
        <div class="modal-footer">
          <button id="btn-save" type="button" class="btn btn-success" data-dismiss="modal">Lưu</button>
          <button type="button" class="btn btn-danger close_modal_btn" data-dismiss="modal">Hủy bỏ</button>
        </div>

      </div>
    </div>
  </div>

  <script>
      const myModal = document.querySelector('#myModal')
      const closeBtn = document.querySelectorAll('.close_modal_btn')

      for(var i = 0; i < closeBtn.length; i++) {
        closeBtn[i].onclick = function() {
            myModal.classList.remove('active')
        }
      }

  </script>
{% endblock %}
